.boasVindas{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    margin: 0; 
    padding: 20px;
    box-sizing: border-box; 
    
} 
.icone{
    color:rgb(184, 223, 27);
    font-size: 5rem;
    margin: 0;
}

h1{
    color:rgb(158, 16, 123);
    margin: 0;
    font-size: 5rem;
}
p{
    color:rgb(97, 1, 81);
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 768px) {
    .icone {
        font-size: 4rem; 
    }

    h1 {
        font-size: 3rem; 
    }

    p {
        font-size: 1.5rem;
    }
}




