
/* Container geral */
.calendario-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;

    h1{
      font-size: 2.8rem;
      margin-bottom: 20px;
    }
  }
  
  /* Estilo principal do calendário */
  .calendario-main {
    flex: 1;
    padding-right: 20px;
  }
  
  .calendario-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    width: 200px;
  }
  
  /* Barra lateral */
  .calendario-sidebar {
    flex: 1;
    border-left: 1px solid #ccc;
    padding-left: 20px;
  }
  
  .calendario-sidebar h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color:rgb(158, 16, 123);
  }
  
  .calendario-sidebar ul {
    list-style: none;
    padding: 0;
    color:rgb(97, 1, 81);
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  
 